<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <%- include ("./ejs_partials/head.ejs")%>
</head>
<body>
    <h1>About Us</h1>
    <h4>We would like to intrdouce our developers behind this geinus webpage</h4>
    <div class="taylor">
        <h3>Taylor</h3>
        <img src="https://i.imgur.com/o1RUneF.png">
        <p>Taylor, 32, former Junior High Teacher is the head our team and also a genius behing this awesome page.<br>
            He just started coding few weeks ago and you can see how much passion he has from going through our pages from 0 to 10.<br>
            He is definately already a Full-stack engineer now and you will be seeing his works more.
        </p>
    </div>
    <div class="eamonn">
        <h3>Eamonn</h3>
        <img src="https://i.imgur.com/WXBoDm1.png">
        <p>Another former teacher we have here is Eamonn, 38 years old, smart new developer.<br>
            Algorithms and flows for this page came from his genius mind and we cant be more proud of him.</p>
    </div>
    <div class="hazel">
        <h3>Hazel</h3>
        <img src="https://i.imgur.com/jKNZ2U1.jpeg">
        <p>28 years old, and a former Gemologist Hazel is behind all the styling and pitching ideas.
            Can not wait to see more of her work.
        </p>
    </div>
    We are SHINING PEOPLE and will always be SHINING!
</body>
    <%- include ("./ejs_partials/footer.ejs")%>
</html>