<!DOCTYPE html>
<html lang="en">
  <%- include ("./ejs_partials/head.ejs")%>
  <body>
      <%- include ("./ejs_partials/nav.ejs")%>

      
    <section>
      <div>
        <h1>Login</h1>
      </div>
    </section>

    <main>
      <div>
        <!-- form action -->
          <div>
            <label for="name">UserName</label>
            <input type="text" placeholder="UserName"/>
          </div>

          <div>
            <label for="password">Password</label>
            <input type="number" placeholder="Password"/>
          </div>

          <button>LogIn</button>
        </form>
      </div>
    </main>
  </body>
</html>
