<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <body>
    <%- include ("./ejs_partials/nav.ejs")%>
    <section>
      <div>
        <h1>Login</h1>
      </div>
    </section>

    <main>
      <div>
        <form method="POST" action="/login">
          <div>
            <label for="name">UserName</label>
            <input name="username"type="text" placeholder="UserName"/>
          </div>

          <div>
            <label for="password">Password</label>
            <input name="password"type="password" placeholder="Password"/>
          </div>

          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>