<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/games">Home</a>
        <a href="/news">News</a>
        <input type="text" placeholder="Search..">
      </div>

    <section>
      <div>
        <h1>Login</h1>
      </div>
    </section>

    <main>
      <div>
        <!-- form action -->
          <div>
            <label for="name">UserName</label>
            <input type="text" placeholder="UserName"/>
          </div>

          <div>
            <label for="password">Password</label>
            <input type="number" placeholder="Password"/>
          </div>

          <button>LogIn</button>
        </form>
      </div>
    </main>
  </body>
</html>