<!DOCTYPE html>
<html lang="en">
  <%- include ("./ejs_partials/head.ejs")%>
  <body>

    <section>

    <%- include ("./ejs_partials/nav.ejs")%>

      <div>
        <h1>Register</h1>
      </div>
    <main>
      <div>
        <form method="POST" action="/register">
        <div>
          <label for="avatar">Avatar</label>
          <input name="avatar"type="text" placeholder="Avatar"/>
        </div>
        
          <div>
            <label for="name">UserName</label>
            <input name="username"type="text" placeholder="UserName"/>
          </div>

          <div>
            <label for="password">Password</label>
            <input name="password"type="text" placeholder="Password"/>
          </div>

          <div>
            <label for="email">Email</label>
            <input name="email"type="text" placeholder="Email"/>
          </div>
          <button type="submit">Register</button>
        </form>
      </div>
    </main>
  </body>
  <%- include ("./ejs_partials/footer.ejs")%>
</html>
