<!DOCTYPE html>
<html lang="en">
  <%- include ("./ejs_partials/head.ejs")%>
  <body>
    <link rel="stylesheet" href="styles/register.css">
    <section>

  

      <div>
      
      </div>
    <main>
      <div class="register">
        <h1 class="h1Register">Register</h1>
        <form method="POST" action="/register">
          <p><label for="avatar">Avatar</label>
          <input name="avatar"type="text" placeholder="Avatar"/></p>

            <p><label for="name">UserName</label>
            <input name="username"type="text" placeholder="UserName"/></p>
  
            <p><label for="password">Password</label>
            <input name="password"type="text" placeholder="Password"/></p>
 
            <p><label for="email">Email</label>
            <input name="email"type="text" placeholder="Email"/></p>
       
          <button type="submit">Register</button>
        </form>
    </main>
  </body>
  <%- include ("./ejs_partials/footer.ejs")%>
</html>
