<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include ("./ejs_partials/head.ejs")%>
    <link rel="stylesheet" href="/styles/thenews.css">
    </head>
<body>
    
<h1>The Latest News</h1>
<div class="container">
<article>
    <h3>New God of War: Ragnarok Updated Combat Abilities</h3>
    <img src = "https://i.imgur.com/lxxEKGT.jpeg">
    <p>Some of Kratos's new combat techniques, including the ability to infuse Shields will play a larger role in God of War: Ragnarok's combat scheme,
        new shield types affecting how specific shields can be used in battle. Some, like the Dauntless Shield,
        are lighter but excel at parrying--flashing red to signal the right moment to parry--while others such as the Stonewall Shield are sturdier and more fit for slower combat,
        absorbing damage and creating a shockwave that knocks enemies down when enough damage is absorbed. <br>
        God of War: Ragnarok is the follow-up to 2018's God of War soft reboot, and will mark the end of the Norse mythology-based storyline.
        It is set to launch November 9 for PlayStation 4 and PlayStation 5.
    </p>
</article>
<article>
    <h3>Grand Theft Auto Fan Discorvers Incredibly Impressive GTA 4 Detail</h3>
    <img src = "https://i.imgur.com/oV1zPEp.jpeg">
    <p>Grand Theft Auto 4 was met with widespread critical acclaim when it launched in 2008, hailed as a significant step forward for the Grand Theft Auto series in terms of realism, physics, and more.
        Grand Theft Auto 4 remains one of the highest-rated video game releases of all time, and so it's no surprise that there are still GTA fans who revisit the game to this day. <br>
        Like every other game in the series, Grand Theft Auto 4 features a large open world for players to explore. Grand Theft Auto 4's Liberty City is rather massive and full of secrets for players to find,
        some of which may have gone undiscovered for years. This may include GTA 4 Easter eggs, but it can also include interesting ways that the game's physics work that may have gone unnoticed by many players.</p>
</article>
</div>
    <%- include ("./ejs_partials/footer.ejs")%>
</body>
</html>