.footer {
   display: flex;
   flex-direction: column;
   align-content: flex-end;
   align-content: center;
   flex-wrap: wrap;
   text-align: center;
}


.footer-link:link {
   text-decoration: none;
   color: black
 }
 

 .footer-link:visited {
   text-decoration: none;
   color: black
 }

 
 .footer-link:hover {
   text-decoration: none;
   color: violet;
   background-color: white;
 }
