.footer {
   /* bottom: 0;
   margin-left: 85px;
   text-align: center; */
   display: flex;
   flex-direction: column;
   align-content: flex-end;
   align-content: center;
   flex-wrap: wrap;
   text-align: center;
}