.upcoming {
   position: relative;
   overflow: hidden;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
}


.lower-half {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    justify-content: space-evenly;
}


.fGame {
   text-align: center;
}


.one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.game-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


button {
    background-color: black;
    color: violet;
    border-radius: 10%;
    font-family: 'Michroma', sans-serif;
}