
  .upcoming {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 5px solid black;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    min-width: 320px;
}

.fGame {
   text-align: center;
  }
.one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}