h1 {
    margin-left: 50px;
    text-align: center;
    padding: 50px;
}
article {
    border: solid black;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
}