

<footer class="footer h-25 pt-5 ms-0 me-0 m-0 text-light bg-gradient justify-content-center text-white">
    <div class="footer container justify-content-center">
        <p class="mx-0 px-0 mt-5 fs-5 bg-transparent text-center text-light">2023 Eamonn Kelly</p>
        
    </div>
</footer>