

<footer class="footer pt-5 ms-0 me-0 m-0 text-light bg-gradient justify-content-center text-white">
    <div class="footer container bg-dark justify-content-center">
        <p class="mx-0 px-0 text-center"></p>
        <div class="row justify-content-center">
            <a class="col text-light text-end footer-link" href="/games/about_us" ></a>
            <a class="col text-light text-start footer-link" href="/games/privacy_policy"></a>
        </div>
    </div>
</footer>