<footer>
    <p>
        &copy 2022 Shining ppl. All rights reserved.
    </p>
    <div>
        <a href="" class="about-us">About Us</a>
        <a href="" class="privacy">Privacy Policy</a>
    </div>
</footer>