

<link rel="stylesheet" href="/styles/footer.css">
<footer class="footer m-5 text-dark">
    <div class="footer align-middle">
        <p>&copy 2022 Shining ppl. All rights reserved.</p>
        <div>
            <a class="footer-link" href="/games/about_us" class="about-us">About Us</a>
            <a class="footer-link" href="/games/privacy_policy">Privacy Policy</a>
        </div>
    </div>
</footer>