

<link rel="stylesheet" href="/styles/footer.css">
<footer class="footer pt-5 ms-0 me-0 m-0 text-white bg-primary justify-content-center container my-5 text-white">
    <div class="footer row bg-primary justify-content-center">
        <p class="col mx-0 px-0 text-center">&copy 2022 Shining ppl. All rights reserved.</p>
        <div class="row justify-content-center">
            <a class="col text-center footer-link" href="/games/about_us" class="text-white about-us">About Us</a>
            <a class="col text-center footer-link" href="/games/privacy_policy" class="text-white">Privacy Policy</a>
        </div>
    </div>
</footer>