
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="header-nav">
    <div id="header">
        <p> N oo b  <img class="logo" src = "https://i.imgur.com/NxEFOQas.png">  Insider</p>
    </div>
    <nav class="nav">
        
        <div id="leftBar">
            <a href="/games">Home</a>
            <a href="/games/news">News</a>
            <form id="search" method="GET" action="/search">
                <input type="search" id="mySearch" name="q" placeholder="&#128269" aria-label="Search Games">
            </form>
        </div>
        
        <div id="rightBar">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="username-display">
            <%if(currentUser !== undefined) {%>
                <p>Welcome, <%=currentUser.username%></p>
                <%} else {%>
                <p class="welcome-empty">Welcome</p>    
                <%}%>
        </div>
    </nav>
</section>
<link rel="stylesheet" href="/styles/head.css">
 <link rel="stylesheet" href="/styles/main.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">



