<nav class="nav">
    <div class="topnav">
        <a href="/games">Home</a>
        <a href="/news">News</a>
        <input type="text" placeholder="&#128269">
        <link rel="stylesheet" href="styles/nav.css">
    </div>
</hr>
</nav>