<nav class="navbar">
    <div class="home-news">
        <a href="/"> HOME </a>
        <a href="/news"> NEWS </a>
    </div>
    <div class="search-login">
        <form class="search"action="" method="POST">
            <input class="input" type="text" placeholder= &#x1F50D name="name"/>
        <a href="">Login/Register</a>
    </div>
</nav>