<nav class="nav">
    <div class="topnav">
        <a href="/games">Home</a>
        <a href="/games/news">News</a>
    <form id="search" method="GET" action="/search">
        <div class = "search nowrap flex">
        <input type="search" id="mySearch" name="q" placeholder="&#128269" aria-label="Search Games">
        </div>
    </form>
    <div>
        <a href="/login">LogIn</a>
        <a href="/register">Register</a>
    </div>
        <link rel="stylesheet" href="styles/nav.css">
    </div>
</hr>
</nav>